@keyframes magic
  0%
    opacity: 1
    transform-origin: 100% 200%
    transform: scale(1.0,1.0) rotate(0deg)
  100%
    opacity: 0
    transform-origin: 200% 500%
    transform: scale(0.0,0.0) rotate(270deg)
