@keyframes swap
  0%
    opacity: 0
    transform-origin: 0 100%
    transform: scale(0.0,0.0) translate(-700px,0px)
  100%
    opacity: 1
    transform-origin: 100% 100%
    transform: scale(1.0,1.0) translate(0px,0px)
