@keyframes twisterInUp
  0%
    opacity: 0
    transform-origin: 100% 0
    transform: scale(0.0,0.0) rotate(360deg) translateY(100%)
  30%
    transform-origin: 100% 0
    transform: scale(0.0,0.0) rotate(360deg) translateY(100%)
  100%
    opacity: 1
    transform-origin: 0 0
    transform: scale(1.0,1.0) rotate(0deg) translateY(0)
