@css {
/*  CSS3 Clases - Luis Gago Casas */
}
// variables
color1 = #FAED23 //#9A2E84
@import 'nib/vendor'
@import 'simplegrid'
// @import 'keyframes'
@import 'bouncing_entrances/bouncein'
@import 'bouncing_exits/bounceOut'
vendor-prefixes = o ms moz webkit
@font-face
	font-family 'Open Sans'
	font-style normal
	font-weight 400
	src local('Open Sans'), local('Open Sans'), url("../fonts/opensans.woff") format('woff')
border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	ms-border-radius arguments
	o-border-radius arguments
	border-radius arguments
appearance()
	-webkit-appearance arguments
	-moz-appearance arguments
	ms-appearance arguments
	o-appearance arguments
	appearance arguments
box-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	ms-box-shadow arguments
	o-box-shadow arguments
	box-shadow arguments
transform()
	-webkit-transform arguments
	-moz-transform arguments
	ms-transform arguments
	o-transform arguments
	transform arguments
transition()
	-webkit-transition arguments
	-moz-transition arguments
	ms-transition arguments
	o-transition arguments
	transition arguments
zoom()
	-ms-zoom arguments
	-webkit-zoom arguments
	zoom arguments
background-size()
	-webkit-background-size arguments
	-moz-background-size arguments
	ms-background-size arguments
	o-background-size arguments
	background-size arguments
body
	background-color: #4dc1ec
	font-family 'Open Sans',Arial,Sans-serif
	font-size 16px
	overflow: hidden
*
	margin 0
a
	color #FFF
	text-decoration none
ul
	margin 0px
	padding 0px 0px 0px 30px
li
	list-style none
.wrapper
	position: absolute
	min-height: 100%
	height: auto !important
	width: 100%
	max-width: 1400px
	margin: 0px auto
	left: 0
	right: 0
.header
	bottom: 0px
	position: absolute
	left: 0
	right: 0
	height: 300px
.circulos
	right: 0
	text-align center
	left 0
	position: absolute
	bottom: 0
	top: 15%
	color #000
	z-index: 0
.circulocont
	left: 22px
	position: absolute
	top: 35px
.circulo
	// border-radius 250px
	background-color #FFF
	width 165px
	height 150px
	position relative
	display inline-block
	text-align center
	margin: 0px 10px 0px 10px
	a
		color red
		font-size 18px
.munieco_mensaje
	right: 0
	left: 0
	position: absolute
	bottom: 0
	z-index: 0
	margin: 0px auto
	width: 60%
	text-align: left
.minieco
	background url("../svg/jaime.svg") no-repeat left
	background-size  200px auto
	height: 300px
	position: absolute
	bottom: 5px
	width: 200px
.minieco2
	background url("../img/jm_002.png") no-repeat left
	background-size  200px auto
	height: 300px
	position: absolute
	bottom: 5px
	width: 200px
	left: 15px
.pasto
	background: url("../svg/pastito.svg") repeat-x
	width: 100%
	height: 30px
	margin: 270px 0px 0px 0px
	position: absolute
.misti
	background: url("../svg/misti.svg") no-repeat right
	width: 100%
	height: 130px
	margin: 155px 0 0 0
	position: absolute
.jxd
	background: url("../svg/XD_nuevo_123.svg") no-repeat right
	width: 63%
	height: 185px
	margin: -10px 0 0 0
	position: absolute
.mensaje
	line-height: 50px
	position: absolute
	bottom: 170px
	left: 210px
	.palabra1, .palabra2
		text-shadow: white 0 0 100px
		&:hover
			transition: text-shadow 1s cubic-bezier(0, 0.75, 0, 1)
	.palabra1
		font-size 65px
		// text-shadow 2px 2px 0 #0768ae,5px 5px 0 rgba(0,0,0,0.2)
		text-align center
		text-transform: uppercase
		// color #DA4E95
		// color #F9EA13
		color color1
		font-family Arial
		font-weight bold
	.palabra2
		// font-family 'Josefin Slab', serif
		font-size 31px
		text-align center
		margin -10px 0 0px 0
		color color1
		text-transform: uppercase
		font-family Arial
		font-weight bold
// Otros eventos
.cont-otros-eventos
	margin 0px 0px
.otros-eventos
	width 300px
	display block
	img
		width 100%
// mensiones en las redes
.cont_redes
	position: absolute
	top: 40%
	right: 0px
	left: 0px
	margin: 0px auto
	background-color: rgba(255, 255, 255, 0.2)
	color: #000
	padding 3px
	border-radius 10px
	&:before
		border-left: 150px solid transparent
		border-right: 150px solid transparent
		border-top: 20px solid rgba(255, 255, 255, 0.2)
		top: 100%
		content: ''
		height: 0
		left: 0
		margin: 0 auto
		position: absolute
		right: 0
		width: 0
		z-index: 1
// mensiones
.CourseExtraInfo-tweetsContainer
	display:inline-block
	position:relative
	overflow:hidden
	width:100%
	height 100px
	vertical-align:top
.CourseExtraInfo-tweetAvatarContainer
	border-radius: 50%
	border: 5px solid #F0F0F0
	height: 90px
	left: 0
	overflow: hidden
	position: absolute
	width: 90px
	margin: 10px 0px 0px 5px
.CourseExtraInfo-tweetAvatar
	height:100%
	width:100%
.CourseExtraInfo-tweetContent
	font-size:1em
	padding-left:15px
	min-height:105px
	margin-left:90px
.CourseExtraInfo-tweetUser
	font-weight:700
	display:block
	margin: 10px 0px 0px 0px
.CourseExtraInfo-tweetText
	font-style:italic
	line-height: 25px
	font-size: 16px
// tamaños de redes
.redes_mini
	width: 600px
	height: 120px
// tiempo que falta
.faltapara
	position: absolute
	bottom: 25%
	right: 0%
	margin: 0 auto
	color: #333
	padding: 5px
	width: 200px
	background-color #00AFEF
	border-radius: 10px 0px 0px 10px
.falta-anuncio, .falta-texto
	display inline-block
	vertical-align: top
.falta-anuncio
	width: 15%
	height: 210px
	border-right 5px solid #1C93BE
	// &:before
	// 	transform: rotate(90deg)
	// 	content: "Olimpiadas por el Desarrollo de Arequipa"
	// 	color: #fff
	// 	display: block
	// 	margin: 25px 0px 0px 0px
.falta-texto
	color #000
	width 85%
	padding: 25px 0px 0px 0px
//
.tiempo-falta
	position: absolute
	bottom: 25%
	right: 20%
	margin: 0 auto
	background-color: rgba(26, 13, 179, 0.29)
	color: #FFF
	padding: 3px
	border-radius: 10px
.contenido
	background-color rgba(255, 255, 255, 0.2)
	color #FFF
	border-radius 5px
	height auto
	left 0
	margin 0px auto
	padding 3px
	position absolute
	right 0
	top 5px
	min-width 1092px
	width 80%
	min-height 98%
	z-index 1
	display none
.cont
	width: 81%
	max-height: 85%
	// min-height: 50%
	color: #fff
	position: absolute
	padding: 0px
	overflow-y: auto
	overflow-x: hidden
	overflow auto
	top: 35px
	right: 5px
.cerrarpopup
	font-size: 25px
	cursor: pointer
	position: absolute
	right: 0
	margin: -25px 5px 0 0
	color: #000
	text-shadow: 0px 2px 5px #6B6B6B
.cerrar
	float: right
	font-size: 25px
	cursor: pointer
// menus
.imgmenu
	background: url("../img/btn_inscripciones.png") no-repeat center
	background-size: 160px auto
.imgmenu1
	background: url("../img/btn_jovenes.png") no-repeat center
	background-size: 160px auto
.imgmenu2
	background: url("../img/btn_evento.png") no-repeat center
	background-size: 160px auto
.imgmenu3
	background: url("../img/btn_ubicacion.png") no-repeat center
	background-size: 160px auto
.imgmenu4
	background: url("../img/btn_selfie.png") no-repeat center
	background-size: 160px auto
.nubes
	position: absolute
	text-align: center
	margin: 0px auto
	left: 0
	right: 0
	width: 80%
// contenidos
.confirmado
	background-color: rgba(94, 177, 39, 0.8)
	padding: 10px
	color: #fff
.error
	background-color: rgba(236, 22, 22, 0.8)
	padding: 10px
	color: #fff
.mapa_borde
	border 5px solid #fff
.img_distribucion
	width 50%
.inscripcion_parrafo
	padding: 5px
	color: #000
	text-align: center
	font-weight: bold
// nuevas nubes
@keyframes animar
	0% {}
	50%
		transform:translateX(87%) scale(1.2)
	100%
		webkit-transform:translateX(0%)
.circ1
	width:120px
	height:120px
	border-radius:120px
	background-color:rgb(255, 255, 255)
	margin:20px 0 0 60px
.circ2
	width:150px
	height:80px
	border-radius: 80px / 50px
	background-color:rgb(255, 255, 255)
	margin:-90px 0 0 80px
.circ3
	width:150px
	height:90px
	border-radius: 80px / 50px
	background-color:rgb(255, 255, 255)
	margin:-90px 0 0 0px
#sq1, #sq2, #sq3
	top: 0
	left: 0
	right: 0
#sq1
	animation-name: animar
	animation-duration: 20s
	animation-timing-function: lineal
	animation-iteration-count:infinite
	opacity: 0.6
	margin:0
	position:absolute
#sq2
	animation-name: animar
	animation-duration: 15s
	animation-timing-function: lineal
	animation-iteration-count:infinite
	opacity: 0.4
	position:absolute
	margin:30px 0 0 0
#sq3
	animation-name: animar
	animation-duration: 12s
	animation-timing-function: lineal
	animation-iteration-count:infinite
	opacity: 0.7
	position:absolute
	margin:100px 0 0 50px
// otros
.hr
	border 1px dashed rgba(51, 51, 51, 0.2)
	margin 5px 0px 5px 0px
/////////////////////////////////////////////////////
input
	width 250px
	box-sizing border-box
	padding 10px 10px 10px 10px
	background-color #f6f6f6
	border 1px solid #b5b5b5
	border-radius 5px
	font-size 14px
	box-shadow 0 0 10px rgba(204,204,204,0.5) inset
	-webkit-background-clip padding-box
	outline 0
.boton-verde
	background #00b941
	border 1px solid #009a34
	color #fff
	font-size 13.5px
	border-radius 5px
	padding 10px 15px
	text-transform uppercase
	cursor pointer
	margin 10px 0px 0px 0px
.btn
	-webkit-appearance: none
	border: none
	border-bottom: 4px solid transparent
	border-radius: 5px
	color: #fff
	cursor: pointer
	display: inline-block
	zoom: 1
	-moz-transform: scale(1,1)
	-moz-transform-origin: left center
	font-size: 14px
	padding: 5px 5px
	vertical-align: middle
	white-space: nowrap
.yellow
	background: #ffc33e
	color: #b36929
	border-color: #b36929
.footer
	background-color: #213338
	border-radius: 5px 5px 0px 0px
	bottom: 0
	color: #FFF
	left: 0
	margin: 0 auto
	padding: 3px
	position: fixed
	right: 0
	width: 80%
	z-index: 8
	text-align center
	.msj
		display: inline-block
		font-size: 18px
		vertical-align: middle
.efectoone
	animation-name: bounceIn
	animation-duration: 1s
	animation-fill-mode: both
.efectothu
	animation-name: bounceOut
	animation-duration: 1s
	animation-fill-mode: both
// Cuenta regresiva
.countdown
	display: inline-block
	vertical-align: super
	width 100%
	margin: 0px 0px 0px 0px
	& > p
		padding-top:3px
	& .counter
		font-size: 21px;
		text-align: center
	& .counter > div
		display:inline-block
	& .counter > div span:nth-of-type(2)
		font-size:15px
		color #333
.segundos_top
	text-align center
	span
		font-size 14px !important
.countdown_fecha
	text-align: center
	margin: 20px 0px 0px 0px
// Clases Comunes
.center
	text-align center
.right
	text-align right
.padding
	padding 0px 0px 0px 0px
// Iconos personalizados
.icouno
	font-size: 30px
	color: #333
	vertical-align: sub
// formularios
h2
	font-size 1.4em
	text-align center
	color white
	text-shadow 0px 1px 10px black

p
	margin 0px 0px 10px 0px
	line-height 14px

.frmcosplay,.detalles
	vertical-align top

.frmcosplay
	h4
		margin 0px
		color white
		text-shadow 0px 2px 5px #000000

	//
	label
		position relative

		&:after
			content '<>'
			font 11px "Open Sans", monospace
			color #aaa
			-webkit-transform rotate(90deg)
			-moz-transform rotate(90deg)
			-ms-transform rotate(90deg)
			transform rotate(90deg)
			right 8px
			top 2px
			padding 0 0 2px
			border-bottom 1px solid #ddd
			position absolute
			pointer-events none

		select
			margin 0px 0px 0px 0px
			padding 5px
			border-radius 4px
			box-shadow 0 3px 0 #ccc, 0 -1px #fff inset
			background #f8f8f8
			color #888
			border none
			outline none
			display inline-block
			appearance none
			width 100%

			option
				font-weight bolder
				border-radius 5px
				color #FFFFFF
				border 1px #ccc solid
				background #ccc
	.titulo
		display block
		color white
		text-shadow 0px 2px 5px #000000
	//

	fieldset
		border 1px #868383 solid
		padding 5px
		border-radius 10px
		width 235px

		span
			display inline-block

.detalles
	padding 180px 10px 0 10px
	text-align center
	// background url("../img/formcosplay.gif") no-repeat center top
	height 88px

	p
		font-size 30px
		color #FFF
		background-color rgba(36, 123, 182, 0.25)
		border-radius 5px
		font-weight bold
		text-shadow 0px 2px 5px #000
		font-family Crete Round
		line-height 25px
		padding 5px 0px 15px 0px
		width 280px
		margin 0px auto

.btn-form
	box-sizing border-box
	color #fff
	display inline-block
	zoom 1
	font-size 18px
	height 30px
	line-height 30px
	padding 0 15px
	position relative
	cursor pointer
	border none
	background #2ecc71
	box-shadow 0px 1px 10px black
	&:before
		border-right-color #2ecc71
		border-bottom 15px solid transparent
		border-right 10px solid #2ecc71
		border-top 15px solid transparent
		content ""
		position absolute
		right 100%
		top 0
// Nuevos planes
.imgplan1
	background: #000 url("../img/ico-dota.png") no-repeat center
	background-size: 190px 50px
	height: 60px
	border-radius: 5px 5px 0px 0px
	&:after
		border-left: 75px solid transparent
		border-right: 75px solid transparent
		border-top: 20px solid #000
		width: 127px
		margin: 0 0 0 0px
		content: ""
		position: relative
		top: 80px
.imgplan2
	background: #000 url("../img/ico-baile.png") no-repeat center
	background-size: 190px 50px
	height: 60px
	border-radius: 5px 5px 0px 0px
	&:after
		border-left: 75px solid transparent
		border-right: 75px solid transparent
		border-top: 20px solid #000
		width: 127px
		margin: 0 0 0 0px
		content: ""
		position: relative
		top: 80px
.imgplan3
	background: #000 url("../img/ico-rock.png") no-repeat center
	background-size: 190px 50px
	height: 60px
	border-radius: 5px 5px 0px 0px
	&:after
		border-left: 75px solid transparent
		border-right: 75px solid transparent
		border-top: 20px solid #000
		width: 127px
		margin: 0 0 0 0px
		content: ""
		position: relative
		top: 80px
.imgplan4
	background: #000 url("../img/ico-yugi-oh.png") no-repeat center
	background-size: 190px 50px
	height: 60px
	border-radius: 5px 5px 0px 0px
	&:after
		border-left: 75px solid transparent
		border-right: 75px solid transparent
		border-top: 20px solid #000
		width: 127px
		margin: 0 0 0 0px
		content: ""
		position: relative
		top: 80px
.imgplan5
	background: #000 url("../img/ico-cubo-de-dubick.png") no-repeat center
	background-size: 190px 50px
	height: 60px
	border-radius: 5px 5px 0px 0px
	&:after
		border-left: 75px solid transparent
		border-right: 75px solid transparent
		border-top: 20px solid #000
		width: 127px
		margin: 0 0 0 0px
		content: ""
		position: relative
		top: 80px
.imgplan6
	background: #000 url("../img/ico-skate.png") no-repeat center
	background-size: 190px 50px
	height: 60px
	border-radius: 5px 5px 0px 0px
	&:after
		border-left: 75px solid transparent
		border-right: 75px solid transparent
		border-top: 20px solid #000
		width: 127px
		margin: 0 0 0 0px
		content: ""
		position: relative
		top: 80px
.planes-inicio
	width: 90%
	text-align: center
	// display: inline-block
	overflow-x: scroll
	overflow-y: hidden
	white-space: nowrap
	margin: 0px auto
.planes
	text-align: center
	display: inline-block
	width: 25%
	vertical-align: top
.plan
	margin 10px 10px 0px 10px
	display inline-block
	width 180px
	box-shadow 0px 1px 10px black
	background-color white
	border-radius 10px
// .scroll-plan
// 	overflow-y: scroll
// 	overflow-x: hidden
// 	height: 130px
.caracteristicas
	background #fff
	padding-top 20px
	color #333

	h3
		color #003132
		font-size 20px
		font-style italic
		text-transform uppercase
		margin 0px
		font-family Crete Round
		white-space: initial

	p
		font-size 14px
		// height 30px
		line-height 25px
		white-space: initial
		a
			color #00afef

		&:nth-child(2n)
			background #edeced
.comprar
	width 100%
	height 45px
	background #ffc43a
	border none
	border-bottom 3px solid #f39c12
	box-sizing border-box
	color #b26500
	display inline-block
	zoom 1
	font-size 16px
	font-style normal
	font-weight 500
	line-height 15px
	min-width 125px
	padding 15px 0 0 0
	text-align center
	text-transform uppercase
	outline 0
	text-decoration none
	cursor pointer
.compraroff
	width 100%
	height 45px
	background #B3B2B0
	border none
	border-bottom 3px solid #646464
	box-sizing border-box
	color #8D8D8D
	display inline-block
	zoom 1
	font-size 16px
	font-style normal
	font-weight 500
	line-height 15px
	min-width 125px
	padding 15px 0 0 0
	text-align center
	text-transform uppercase
	outline 0
	text-decoration none
.scrolmg
	overflow-y: scroll
	height: 300px
	width: 600px
	margin: 10px 0px 0px 0px
#formularios
	display inline-block
	width 70%
#mensaje
	position: absolute
	height: auto
	top: 30%
	left: 0
	padding: 5px 5px 5px 5px
	z-index: 11520
	width: 40%
	right: 0
	margin: 0px auto
.overlay
	background rgba(0,0,0,0.5)
	position fixed
	top 0
	bottom 0
	left 0
	right 0
	cursor default
.evento_en_vivo
	position: absolute
	bottom: 28%
	left: 0%
	margin: 0 auto
	color: #333
	padding: 5px 5px 0px 0px
	width: 40px
	background-color #00AFEF
	border-radius: 0px 10px 10px 0px
	img
		width 100%
		height 100%
		border-radius: 0px 10px 10px 0px
.videoWrapper
	position: relative
	padding-bottom: 56.25% /* 16:9 */
	padding-top: 25px
	height: 0
	iframe
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		border: 0
@font-face
	font-family: 'icomoon'
	src:url('../fonts/icomoon.eot?-3ut2qo')
	src:url('../fonts/icomoon.eot?#iefix-3ut2qo') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-3ut2qo') format('woff'),
		url('../fonts/icomoon.ttf?-3ut2qo') format('truetype'),
		url('../fonts/icomoon.svg?-3ut2qo#icomoon') format('svg')
	font-weight: normal
	font-style: normal
[class^="icon-"], [class*=" icon-"]
	font-family: 'icomoon'
	speak: none
	font-style: normal
	font-weight: normal
	font-variant: normal
	text-transform: none
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
.icon-alarm:before
	content: "\e600"
.icon-calendar:before
	content: "\e601"
.icon-expand:before
	content: "\e602"
.icon-contract:before
	content: "\e603"
.icon-cancel-circle:before
	content: "\e604"
.icon-facebook:before
	content: "\e605"
.icon-twitter:before
	content: "\e606"
.icon-youtube:before
	content: "\e607"