.animated
	-webkit-animation-duration 1s
	-moz-animation-duration 1s
	-o-animation-duration 1s
	animation-duration 1s
	-webkit-animation-fill-mode both
	-moz-animation-fill-mode both
	-o-animation-fill-mode both
	animation-fill-mode both

@keyframes bounceInDown
	0%
		opacity 0
		-webkit-transform translateY(-2000px)

	60%
		opacity 1
		-webkit-transform translateY(30px)

	80%
		-webkit-transform translateY(-10px)

	100%
		-webkit-transform translateY(0)

.bounceInDown
	-webkit-animation-name bounceInDown
	-moz-animation-name bounceInDown
	-o-animation-name bounceInDown
	animation-name bounceInDown

//

.fadeIn
	-o-animation-name fadeIn
	-ms-animation-name fadeIn
	-moz-animation-name fadeIn
	-webkit-animation-name fadeIn
	animation-name fadeIn

.fadeOut
	-o-animation-name fadeOut
	-ms-animation-name fadeOut
	-moz-animation-name fadeOut
	-webkit-animation-name fadeOut
	animation-name fadeOut

.bounceOutUp
	-o-animation-name bounceOutUp
	-ms-animation-name bounceOutUp
	-moz-animation-name bounceOutUp
	-webkit-animation-name bounceOutUp
	animation-name bounceOutUp

@keyframes fadeIn
	0%
		opacity 0

	100%
		opacity 1

@keyframes fadeOut
	0%
		opacity 1

	100%
		opacity 0

@keyframes bounceOutUp
	0%
		transform translateY(0)

	20%
		opacity 1
		transform translateY(20px)

	100%
		opacity 0
		transform translateY(-2000px)

 /**/
 
animated(duration = 1s)
	animation-duration duration
	animation-fill-mode both

animatedflip()
	animation-name flip
	backface-visibility visible !important

animatedbounce()
	animation-name bounce

animatedpulse()
	animation-name pulse

animatedbounceIn()
	animation-name bounceIn

/**/

.animated
	animation-duration duration
	animation-fill-mode both

.animated.flip
	animation-name flip
	backface-visibility visible !important

.animated.bounce
	animation-name bounce

.animated.pulse
	animation-name pulse

.animated.bounceIn
	animation-name bounceIn

/**/

@keyframes flip
	0%
		animation-timing-function ease-out
		transform perspective(400px) translateZ(0) rotateY(0) scale(1)
	40%
		animation-timing-function ease-out
		transform perspective(400px) translateZ(150px) rotateY(170deg) scale(1)
	50%
		animation-timing-function ease-in
		transform perspective(400px) translateZ(150px) rotateY(190deg) scale(1)
	80%
		animation-timing-function ease-in
		transform perspective(400px) translateZ(0) rotateY(360deg) scale(.95)
	100%
		animation-timing-function ease-in
		transform perspective(400px) translateZ(0) rotateY(360deg) scale(1)

@keyframes bounce
	0%, 20%, 50%, 80%, 100%
		transform translateY(0)
	40%
		transform translateY(-30px)
	60%
		transform translateY(-15px)

@keyframes pulse
	0%
		transform scale(1)
	50%
		transform scale(1.1)
	100%
		transform scale(1)

@keyframes bounceIn
	0%
		opacity 0
		transform scale(.3)
	50%
		opacity 1
		transform scale(1.05)
	70%
		transform scale(.9)
	100%
		transform scale(1)