*, *:after, *:before
    -moz-box-sizing border-box
    -webkit-box-sizing border-box
    box-sizing border-box
[class*='col-']
    float left
    padding-right 20px
[class*='col-']:last-of-type
    padding-right 0px
.grid
    margin 0 auto
    max-width 1140px
    min-width 100%
    overflow hidden
.grid:after
    clear both
    content ""
    display table
.grid-pad
    padding 20px 0 0px 20px
.grid-pad > [class*='col-']:last-of-type
    padding-right 20px
.push-right
    float right
.col-1-1
    width 100%
.col-2-3, .col-8-12
    width 66.66%
.col-1-2, .col-6-12
    width 50%
.col-1-3, .col-4-12
    width 33.33%
.col-1-4, .col-3-12
    width 25%
.col-1-5
    width 20%
.col-1-6, .col-2-12
    width 16.667%
.col-1-7
    width 14.28%
.col-1-8
    width 12.5%
.col-1-9
    width 11.1%
.col-1-10
    width 10%
.col-1-11
    width 9.09%
.col-1-12
    width 8.33%
.col-11-12
    width 91.66%
.col-10-12
    width 83.333%
.col-9-12
    width 75%
.col-5-12
    width 41.66%
.col-7-12
    width 58.33%
@media handheldonly screen and (max-width: 767px)
    .grid
        margin-left 0px
        margin-right 0px
        min-width 0
        padding-left 0px
        padding-right 0px
        width 100%
    [class*='col-']
        float: none
        margin-bottom 10px
        margin-left 0px
        margin-right 0px
        margin-top 10px
        padding-left 20px
        padding-right 20px
        width auto