/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes rollOut
  0%
    opacity: 1
    transform: translateX(0px) rotate(0deg)

  100%
    opacity: 0
    transform: translateX(100%) rotate(120deg)
