@keyframes tinUpIn
  0%
    opacity: 0
    transform: scale(1.0,1.0) translateY(-900%)
  50%, 70%, 90%
    opacity: 1
    transform: scale(1.1,1.1) translateY(0)
  60%, 80%, 100%
    opacity: 1
    transform: scale(1.0,1.0) translateY(0)
