@keyframes rotateIn
  0%
    transform-origin: center center
    transform: rotate(-200deg)
    opacity: 0

  100%
    transform-origin: center center
    transform: rotate(0)
    opacity: 1
