@keyframes rotateInUpRight
  0%
    transform-origin: right bottom
    transform: rotate(-90deg)
    opacity: 0

  100%
    transform-origin: right bottom
    transform: rotate(0)
    opacity: 1
