@keyframes flipInX
  0%
    transform: perspective(400px) rotateX(90deg)
    opacity: 0

  40%
    transform: perspective(400px) rotateX(-10deg)

  70%
    transform: perspective(400px) rotateX(10deg)

  100%
    transform: perspective(400px) rotateX(0deg)
    opacity: 1
