@keyframes openDownLeftOut
  0%
    opacity: 1
    transform-origin: bottom left
    transform: rotate(0deg)
    animation-timing-function: ease-out
  100%
    opacity: 0
    transform-origin: bottom left
    transform: rotate(-110deg)
    animation-timing-function: ease-in-o
