@keyframes openDownRightReturn
  0%
    transform-origin: bottom right
    transform: rotate(110deg)
    animation-timing-function: ease-in-out
  100%
    transform-origin: bottom right
    transform: rotate(0deg)
    animation-timing-function: ease-out
