@keyframes openUpLeftReturn
  0%
    transform-origin: top left
    transform: rotate(110deg)
    animation-timing-function: ease-in-out
  100%
    transform-origin: top left
    transform: rotate(0deg)
    animation-timing-function: ease-out
