@keyframes foolishIn
  0%
    opacity: 0
    transform-origin: 50% 50%
    transform: scale(0.0,0.0) rotate(360deg)
  20%
    opacity: 1
    transform-origin: 0% 100%
    transform: scale(0.5,0.5) rotate(0deg)
  40%
    opacity: 1
    transform-origin: 100% 100%
    transform: scale(0.5,0.5) rotate(0deg)
  60%
    opacity: 1
    transform-origin: 100%% 0%
    transform: scale(0.5,0.5) rotate(0deg)
  80%
    opacity: 1
    transform-origin: 0% 0%
    transform: scale(0.5,0.5) rotate(0deg)
  100%
    opacity: 1
    transform-origin: 50% 50%
    transform: scale(1.0,1.0) rotate(0deg)
