@keyframes holeOut
  0%
    opacity: 1
    transform-origin: 50% 50%
    transform: scale(1.0,1.0) rotateY(0deg)
  100%
    opacity: 0
    transform-origin: 50% 50%
    transform: scale(0.0,0.0) rotateY(180deg)
