@keyframes swashIn
  0%
    opacity: 0
    transform-origin: 50% 50%
    transform: scale(0.0,0.0)
  90%
    opacity: 1
    transform-origin: 50% 50%
    transform: scale(0.9,0.9)
  100%
    transform-origin: 50% 50%
    transform: scale(1.0,1.0)
