@keyframes vanishOut
  0%
    opacity: 1
    transform-origin: 50% 50%
    transform: scale(1.0,1.0)
  100%
    opacity: 0
    transform-origin: 50% 50%
    transform: scale(2.0,2.0)
    filter: blur(20px)
