@keyframes perspectiveLeftReturn
  0%
    transform-origin: 0 0
    transform: perspective(800px) rotateY(-180deg)
  100%
    transform-origin: 0 0
    transform: perspective(800px) rotateY(0deg)
