@keyframes rotateOutDownLeft
  0%
    transform-origin: left bottom
    transform: rotate(0)
    opacity: 1

  100%
    transform-origin: left bottom
    transform: rotate(90deg)
    opacity: 0
