/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes pulse
  0%
    transform: scale(1)

  50%
    transform: scale(1.1)

  100%
    transform: scale(1)
