@keyframes swing
  20%
    transform: rotate(15deg)

  40%
    transform: rotate(-10deg)

  60%
    transform: rotate(5deg)

  80%
    transform: rotate(-5deg)

  100%
    transform: rotate(0deg)
