@keyframes bombLeftOut
  0%
    opacity: 1
    transform-origin: 50% 50%
    transform: rotate(0deg)
    filter: blur(0px)
  50%
    opacity: 1
    transform-origin: -100% 50%
    transform: rotate(-160deg)
    filter: blur(0px)
  100%
    opacity: 0
    transform-origin: -100% 50%
    transform: rotate(-160deg)
    filter: blur(20px)
